body{
    padding: 0px;
    margin: 0px;
}
.title{
    background: blue;
    color: white;
    font-size: 50px;
    margin-top: 0px;
    text-align: center
}
div.form-customer, div.list-customer{
    width: 350px;
    border: 1px solid black;
    margin: 25px;
    padding: 10px;
    float: left;
}
div.list-customer{
    width: 720px;
}
h2 {
    padding: 0px;
    margin-top: 0px;
}
div.form-customer label {
    width: 100px;
    float: left;
}
div.form-customer input, button {
    margin-bottom: 10px;
    width: 200px;
    padding: 5px;
}